  <div class="row second">
    <div class="medium-4 small-12 columns feature">
      <div class="row icon">
        <%= fa_icon "github-alt" %>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <h4>Github Integration</h4>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns description">
          <%= link_to 'Statuses API', 'https://github.com/blog/1227-commit-status-api', target: '_blank' %>
          allows every pull request to have attached statuses and assets
        </div>
      </div>
    </div>

    <div class="medium-4 small-12 columns feature">
      <div class="row icon">
        <%= fa_icon "group" %>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <h4>Collaborate</h4>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns description">
          Allow others to fix issues and update content via pull requests
        </div>
      </div>
    </div>

    <div class="medium-4 small-12 columns feature">
      <div class="row icon">
      <%= fa_icon "laptop" %>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <h4>Freedom</h4>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns description">
          Use an online or offline editor of your choice
          (we like <%= link_to "prose.io", "http://prose.io/", target: '_blank' %>)
        </div>
      </div>
    </div>
  </div>

