<% cache do %>
  <header class="anon navigation contain-to-grid">
    <div class="row">
      <div class="small-6 left columns">
        <h1 id="title">Arturo</h1>
      </div>
      <div class="small-6 right columns">
        <nav class="top-bar" data-topbar>
          <section class="top-bar-section">
            <%= render('shared/anon_links') %>
          </section>
        </nav>

      </div>
    </div>
  </header>

  <%= render "shared/flash" %>

  <section class="information">
    <div class="row">
      <div class="small-7 columns">
        <h3 calss="subheading">
          Continuous Integration, for your book
        </h3>
        <h4 calss="subheading">
          No sed quodsi gubergren efficiendi, mel mucius facilisi id. Ferri fabellas dissentiet has ex. Vel ei omnis dolore verterem, sit expetendis moderatius inciderint ex
        </h4>
      </div>

      <div class="small-5 columns">
        <%= image_tag 'screen.png' %>
      </div>
    </div>


    <div class="row auth-button">
      <div class="small-12">
        <a href="/auth/github" id="auth" class="button radius alert">
          Authorize With Github 
        </a>
      </div>
    </div>

  </section>

  <section class="moreinfo">
    <%= render 'features_first_row' %>
    <%= render 'features_second_row' %>
  </section>

  <hr>

  <section>
    <div class="row">
      <div class="small-4 columns pricing">
        <ul class="pricing-table">
          <li class="title">Open Source</li>
          <li class="price">Free</li>
          <li class="description">For public open source projects.</li>
          <li class="bullet-item">Unlimited public repos</li>
          <li class="cta-button">
            <a class="button radius" href="#">Authorize</a>
          </li>
        </ul>
      </div>

      <div class="small-4 columns pricing">
        <ul class="pricing-table">
          <li class="title">Solo</li>
          <li class="price">$4.99</li>
          <li class="description">For solo writers</li>
          <li class="bullet-item">Unlimited public repos</li>
          <li class="bullet-item">1 private repo</li>
          <li class="cta-button">
            <a class="button radius" href="#">Buy Now</a>
          </li>
        </ul>
      </div>

      <div class="small-4 columns pricing">
        <ul class="pricing-table">
          <li class="title">Multi Pass</li>
          <li class="price">$19.99</li>
          <li class="description">For serial writers</li>
          <li class="bullet-item">Unlimited public repos</li>
          <li class="bullet-item">10 private repos</li>
          <li class="bullet-item">Priority builds</li>
          <li class="cta-button">
            <a class="button radius" href="#">Buy Now</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-6 medium-12 text-center small-center columns">
        <%= link_to "Contact us", "mailto:hello@arturo.io" %> for custom price plans
      </div>
    </div>
  </section>

  <hr>
<% end %>
