<div class="row repositories">
  <div class="row">
    <div class="columns small-6 left">
      <h2> <%= link_to @repo.name, @repo.html_url, target: "_blank"%> </h2>
    </div>
  </div>

  <div class="row">
    <%= render 'last_build', last_build: @last_build if @last_build %>
    <%= render 'action_buttons' %>
  </div>

  <%= repo_badge(@repo.id, @badge_markdown) %>

  <div class="row">
    <div class="columns small-12">
      <%= render('asset_buttons', assets: @last_assets) if @last_assets %>
    </div>
  </div>


  <div class="row builds">
    <div class="columns small-12">
      <h3>Builds History</h3>
      <%= render('builds/build_list') %>
    </div>
  </div>

</div>

