<div class="row">
  <div class="columns small-6 left">
    <div class="information">
      <em>The last successful build for this repo was <%= link_to "##{build.id}", build_path(build) %>.</em>
    </div>
  </div>
  <div class="columns small-4 right">
    <%= button "#{fa_icon('github')} Github", @repo.html_url, "secondary" %>
    <%= button "Badges", repositories_path(@repo.id), "secondary" %>
    <%= button "Build", repositories_build_path(@repo.id) %>
  </div>

</div>

<div class="row">
  <div class="columns small-12">
    <%= render('build/assets', assets: @last_assets) if @last_assets%>
  </div>
</div>

