    <div class="row">
      <div class="small-12 columns">
        <table>
          <thead>
            <tr>
              <th>Repository</th>
              <th>Description</th>
              <th>Hooks</th>
              <th>Build</th>
            </tr>
          </thead>
          <tbody>
          <% @repositories.each do |repository| %> 
              <tr class="repository">
                <td class="name">
                  <a href="https://www.github.com/<%= repository.full_name %>" target="_blank">
                    <%= repository.name %>
                  </a>
                </td>
              <td class="description"><%= repository.description %></td>
              <td class="hooks">
                <a href="https://www.github.com/<%= repository.full_name %>/settings/hooks" target="_blank">
                  <%= fa_icon('wrench') %>
                </a>
              </td>
              <td class="toggle">
                <%= following_link(@following, repository) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="small-6 small-centered columns">
        <%= paginate @repositories %>
      </div>
    </div>

    <script type="text/javascript"<>
      $(document).ready(function(){
        var pusher  = new Pusher("<%= Rails.configuration.pusher_key %>");
        var channel = pusher.subscribe('<%= @pusher_channel %>');
        channel.bind('sync_complete', function(data) {
          if(data.completed) location.reload();
        });
      });
    </script>
