<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Arturo.io - A smarter way to publish</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="application">
    <div class="container">
      <header class="user navigation contain-to-grid">
        <div class="row">
          <div class="small-4 left columns">
            <h1 id="title">Arturo</h1>
          </div>
          <div class="small-8 right columns">
            <nav class="top-bar" data-topbar>
              <ul class="title-area">
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
              </ul>

              <section class="top-bar-section">
                <%= render_menu(@user) %>
              </section>
            </nav>

          </div>
        </div>
      </header>
      <%= render "shared/flash" %>
      <section class="content">
        <%= yield %>
      </section>
      <div class="push"></div>
   </div>
   <footer class="outro contain-to-grid">
     <div class="row">
       <div class="small-10 large-12 columns">
         &copy; 2014 Arturo.io &bull; Developed by 
         <%= link_to  'Sumeet Singh', 'http://www.github.com/ortuna' %>
       </div>
     </div>
   </footer>

   <%= render "shared/google" %>
  </body>
</html>
