<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Arturo.io - Tag line here</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <header class="navigation contain-to-grid">
        <div class="row">
          <div class="small-6 left columns">
            <h1 id="title">Arturo</h1>
          </div>
          <div class="small-6 right columns">
            <nav class="top-bar" data-topbar>
              <ul class="title-area">
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
              </ul>

              <section class="top-bar-section">
                <ul class="right">
                  <li class="has-form">
                    <a href="/user/settings">Settings</a>
                  </li>
                  <li class="has-form">
                    <a href="/user/logout">Logout</a>
                  </li>
                </ul>

              </section>
            </nav>

          </div>
        </div>
      </header>
      <%= render "shared/flash" %>
      <section class="content">
        <%= yield %>
      </section>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "homepage" %>
    <script type="text/javascript" src="//use.typekit.net/jov4cdg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </body>
</html>
